Repository t3chn/evoidea: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-cyrillic, cargo-fmt, cargo-clippy

no-cyrillic:
  name: forbid Cyrillic characters (except translations)
  entry: bash scripts/check_no_cyrillic.sh
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false
  require_serial: true

cargo-clippy:
  name: cargo clippy (warnings=deny)
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  require_serial: true

Enforce strict no-Cyrillic policy
  .beads/issues.jsonl
  .pre-commit-config.yaml
  AGENTS.md
  docs/plans/2026-01-23-evoidea-mvp-design.md
  evoidea_codex_bundle_md/.codex/skills/evo-ideator/SKILL.md
  evoidea_codex_bundle_md/.codex/skills/evo-ideator/references/OUTPUT_FORMAT.md
  evoidea_codex_bundle_md/.codex/skills/evo-ideator/references/RUNBOOK.md
  evoidea_codex_bundle_md/.codex/skills/evo-ideator/references/TROUBLESHOOTING.md
  evoidea_codex_bundle_md/AGENTS.md
  evoidea_codex_bundle_md/INDEX.md
  evoidea_codex_bundle_md/README.md
  evoidea_codex_bundle_md/docs/00_SPEC.md
  evoidea_codex_bundle_md/docs/01_ARCHITECTURE.md
  evoidea_codex_bundle_md/docs/02_DATA_MODEL.md
  evoidea_codex_bundle_md/docs/03_PIPELINE.md
  evoidea_codex_bundle_md/docs/04_PROMPTS.md
  evoidea_codex_bundle_md/docs/05_STORAGE.md
  evoidea_codex_bundle_md/docs/06_CLI.md
  evoidea_codex_bundle_md/docs/07_TEST_PLAN.md
  evoidea_codex_bundle_md/docs/08_EVALS.md
  evoidea_codex_bundle_md/docs/09_IMPLEMENTATION_TASKS.md
  evoidea_codex_bundle_md/non_md/README.md
  evoidea_codex_bundle_md/non_md/evals/evo-ideator.prompts.csv.md
  evoidea_codex_bundle_md/non_md/schemas/SCHEMAS.json.md
  scripts/check_no_cyrillic.sh
Due: no-cyrillic

Implement evoidea MVP: Rust CLI + evo-ideator skill
  .beads/issues.jsonl
  .codex/skills/evo-ideator/SKILL.md
  .codex/skills/evo-ideator/references/OUTPUT_FORMAT.md
  .codex/skills/evo-ideator/references/RUNBOOK.md
  .codex/skills/evo-ideator/references/TROUBLESHOOTING.md
  .codex/skills/evo-ideator/scripts/run_evoidea.sh
  .gitignore
  Cargo.lock
  Cargo.toml
  docs/plans/2026-01-23-evoidea-mvp-design.md
  schemas/critic.output.schema.json
  schemas/final.output.schema.json
  schemas/generator.output.schema.json
  schemas/merger.output.schema.json
  schemas/mutator.output.schema.json
  schemas/refiner.output.schema.json
  src/config.rs
  src/data.rs
  src/llm.rs
  src/main.rs
  src/orchestrator.rs
  src/phase.rs
  src/scoring.rs
  src/storage.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

evoidea MVP complete
  .beads/export-state/b077625f7c6cf093.json
  .beads/issues.jsonl
  .claude/ralph-loop.local.md
Due: no-cyrillic

Implement /evoidea skill and simplify Rust CLI
  .beads/issues.jsonl
  .claude/commands/evoidea.md
  docs/plans/2026-01-23-evoidea-skill-architecture.md
  src/config.rs
  src/data.rs
  src/llm.rs
  src/main.rs
  src/orchestrator.rs
  src/phase.rs
  src/scoring.rs
  src/storage.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

Add constraint-based evolution to /evoidea skill
  .beads/issues.jsonl
  .claude/commands/evoidea.md
Due: no-cyrillic

Add export and tournament commands to evoidea CLI
  .beads/issues.jsonl
  src/main.rs
  src/orchestrator.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

Add README and LICENSE
  LICENSE
  README.md
Due: no-cyrillic

Add CLAUDE.md with project conventions and update issue descriptions
  .beads/issues.jsonl
  CLAUDE.md
Due: no-cyrillic

Add constraint guardrails to REFINE phase
  .beads/issues.jsonl
  .claude/commands/evoidea.md
Due: no-cyrillic

Add preference profile export/import commands
  .beads/issues.jsonl
  src/main.rs
  src/orchestrator.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

Add evolution tree visualization command
  .beads/issues.jsonl
  src/main.rs
  src/orchestrator.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

Add --examples flag for domain expertise injection
  .beads/issues.jsonl
  .claude/commands/evoidea.md
  examples/consumer.json
  examples/devtools.json
  examples/saas.json
Due: no-cyrillic

Add export presets: decision-log, stakeholder-brief, changelog-entry
  .beads/export-state/b077625f7c6cf093.json
  .beads/issues.jsonl
  src/main.rs
  src/orchestrator.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

Cleanup: remove ralph-loop state file
  .beads/export-state/b077625f7c6cf093.json
  .claude/ralph-loop.local.md
Due: no-cyrillic

Update README with new CLI commands and features
  README.md
Due: no-cyrillic

Add docs coverage check to pre-commit hooks
  .pre-commit-config.yaml
  scripts/check_docs_coverage.sh
  src/orchestrator.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

Add pairwise comparison feature issue (evoidea-ygr)
  .beads/export-state/b077625f7c6cf093.json
  .beads/issues.jsonl
  src/storage.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

Add pairwise comparison mode to tournament
  .beads/export-state/b077625f7c6cf093.json
  README.md
  scripts/check_docs_coverage.sh
  src/main.rs
  src/orchestrator.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

docs: add LeakScope GitHub Action implementation plan
  .beads/issues.jsonl
  docs/plans/2026-01-24-leakscope-github-action.md
Due: none

beads: add research tracks for A/B/C
  .beads/export-state/b077625f7c6cf093.json
  .beads/issues.jsonl
Due: none

docs: add preference-learning loop design note
  .beads/issues.jsonl
  docs/plans/2026-01-29-preference-learning-loop-design.md
Due: none

cli: derive criterion weights in profile export
  .beads/issues.jsonl
  src/orchestrator.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

skill: apply profile-derived weights in /evoidea
  .beads/issues.jsonl
  .claude/commands/evoidea.md
  README.md
  docs/plans/2026-01-23-evoidea-skill-architecture.md
Due: no-cyrillic

beads: add bug reports from destructive testing
  .beads/issues.jsonl
Due: none

fix: make preference loop robust to unscored ideas
  .beads/issues.jsonl
  .claude/commands/evoidea.md
  src/orchestrator.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

skills: harden evo-ideator runner and profile fallback
  .beads/issues.jsonl
  .claude/commands/evoidea.md
  .codex/skills/evo-ideator/SKILL.md
  .codex/skills/evo-ideator/references/RUNBOOK.md
  .codex/skills/evo-ideator/scripts/run_evoidea.sh
Due: no-cyrillic

cli: capture tournament rationales
  .beads/issues.jsonl
  README.md
  src/main.rs
  src/orchestrator.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

runtime: add --discover preflight
  .beads/issues.jsonl
  .claude/commands/evoidea.md
  .codex/skills/evo-ideator/SKILL.md
  .codex/skills/evo-ideator/references/RUNBOOK.md
  README.md
  docs/plans/2026-01-23-evoidea-skill-architecture.md
  src/discovery.rs
  src/main.rs
Due: no-cyrillic, cargo-fmt, cargo-clippy

bd: close evoidea-6j8
  .beads/issues.jsonl
Due: none

Path conditions:
  no-cyrillic: any file but: ^(docs/|evoidea_codex_bundle_md/|\.beads/)
  cargo-fmt: any of: ^(Cargo\.toml|Cargo\.lock|.*\.rs)$
  cargo-clippy: any of: ^(Cargo\.toml|Cargo\.lock|.*\.rs)$
